

{% extends "base.html" %}

{% block header %} Song of the Year {% endblock %}

{% block content %}


<div class="list-page" id="list-page"">
    <div class=" container-award px-1 px-lg-5">

    <main class="bs-award-block">
        <div class="container-fluid py-3">

            <section class="py-2">
                <div class="page-title">2025</div>
                <div class="award-view mb-3"
                    style="--grid-columns-pc: 10; --grid-columns-mobile: 5;">
                    <div class="">
                        <div class="position-relative poster-shadow oscar-poster overflow-hidde">
                            <img src="{{ url_for('static', filename='images/image1.png') }}" class="img-fluid rounded shadow-sm">
                            <span class="bs-oscar-label position-absolute bottom-0 start-0 m-2">
                                受賞
                            </span>
                        </div>
                    </div>
                    <div class="">
                        <div class="poster-shadow oscar-poster overflow-hidden">
                            <img src="{{ url_for('static', filename='images/image2.png') }}" class="img-fluid rounded shadow-sm">
                        </div>
                    </div>
<div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image3.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image4.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image5.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image6.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image7.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image8.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image9.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div><div class="">
    <div class="poster-shadow oscar-poster overflow-hidden">
        <img src="{{ url_for('static', filename='images/image10.png') }}" class="img-fluid rounded shadow-sm">
    </div>
</div>
                </div>
<div class="page-title">2024</div>
<div class="award-view mb-3" style="--grid-columns-pc: 10; --grid-columns-mobile: 5;">
    <div class="">
        <div class="position-relative poster-shadow oscar-poster overflow-hidde">
            <img src="{{ url_for('static', filename='images/image11.png') }}" class="img-fluid rounded shadow-sm">
            <span class="bs-oscar-label position-absolute bottom-0 start-0 m-2">
                受賞
            </span>
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image12.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image13.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image14.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image15.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image9.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image10.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image16.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image17.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
    <div class="">
        <div class="poster-shadow oscar-poster overflow-hidden">
            <img src="{{ url_for('static', filename='images/image18.png') }}" class="img-fluid rounded shadow-sm">
        </div>
    </div>
</div>
            </section>
        </div>
    </main>
</div>
</div>

<style>
    .award-poster {
        width: 10rem;
        height: 10rem;
    }
</style>

{% endblock %}